*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
}
header{
	position: relative;
	display: block;
	width: 100%;
	*height: 100%;
	*color: #fff;
	background: #00ba00;
}
.navbar{
	justify-content: space-between!important;
}
.icono-responsivo{
	display: none;
	font-size: 24px;
	padding: 23.5px 20px;
}
.slider{
	width: 100%;
	margin: auto auto -7px auto;
	overflow: hidden;
	*height: 471px;
}
.slider ul{
	display: flex;
	padding: 0;
	width: 300%;
	animation: cambio 30s infinite linear;
}
.slider li{
	width: 100%;
	list-style: none;
}
.slider img{
	width: 100%;
	height: 100%
}
@keyframes cambio{
	0%{margin-left: 0;}
	25%{margin-left: 0;}
	
	30%{margin-left: -100%;}
	55%{margin-left: -100%;}

	60%{margin-left: -200%;}
	80%{margin-left: -200%;}	
}

#mensaje-bienvenida{
	width: 100%;
 	position: absolute;
    margin-top: 8%;
	text-align: right;
}
#h1_mb{
	margin-bottom: 0;
}
#h1_2{
	color: #00ba00;
	margin-bottom: 0;
}
#parrafo{
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 15px;
	*width: 19;
	*float: right;
}
#parrafo2{
	width: 25%;
	float: right;
	font-size: 15px;
}
#descarga{
	width: 100%;
	position: relative;
	overflow: hidden;
}
#mensaje-descargalo{
	width: 100%;
 	position: absolute;
    margin-top: 10%;
	text-align: left;
	padding-left: 50px;
}
#parrafo3{
	width: 25%;
	font-size: 15px;
}
#mensaje-registro{
	width: 100%;
 	position: absolute;
    margin-top: 8%;
	text-align: right;
}
#parrafo4{
	width: 22%;
	float: right;
	font-size: 15px;
}
#boton{
	background-color: #00ba00;
	width: 18%;
	margin-top: 70px;
	border-radius: 1rem;
	color: #fff;
	font-size: 11px;
	position: absolute;
	margin-left: 40px;
}
#informacion{
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	background: #00ba00;
}
#h5_personal{
	color: #fff;
}
#redes_sociales{
	margin-top: 30px;
}
footer{
	background: orange;
	text-align: center;
	padding: 1% 0%;
	color: #fff;
	overflow: hidden;
}
#pie{
	margin-bottom: 0;
}

/*--------------------------------------------------------------------------------------------------------------
-------------------------------------------------- ESTILOS PARA LOGIN ------------------------------------------
--------------------------------------------------------------------------------------------------------------*/
#formulario{
	position: relative;
	width: 400px;
	padding: 0px 40px;
	box-sizing: border-box;
	font-family: Helvetica;
	margin: 200px 0px 0px 450px;
}
.contenedorInput{
	position: relative;
}
.contenedorInput input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: black;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	background: transparent;
}
.contenedorInpu{
	position: relative;
}
.contenedorInput label{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 1px;
	padding: 10px 0;
	font-size: 16px;
	color: black;
	pointer-events: none;
	transition: .5s;
}
.contenedorInput #correo{
	margin-right: 7px;
	width: 17px;
}
.contenedorInput #clave{
	margin-right: 18px;
	width: 11px;
}
.contenedorInput input:focus ~ label, .contenedorInput input:valid ~ label{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;
}
#formulario input[type="submit"]{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #00ba00;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 20px;
	width: 100%;
	font-family: Helvetica;
}
#cargar_facebook {
  width: 100%;
  margin-left: 0;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  margin: 5px 0px;
  cursor: pointer;
  border-radius: 20px;
  position: absolute;
  background: #33f;
  color: white;
}
#crear_cueta{
	position: relative;
	color: black;
	margin-top: 55px;
    text-align: center;
}
#crear_cueta span{
	color: #00ba00;
	font-weight: bold;
}
#crear_cueta a{
	text-decoration: none;
}
#olvidar_clave a{
	color: black;
	text-align: center;
	text-decoration: none;
}
#olvidar_clave{
	text-align: center;
}
.fab{
	margin-right: 10px;
}
.btn-show-pass {
  font-size: 15px;
  color: #999999;
  display: flex;
  align-items: center;
  position: absolute;
  height: 70%;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.4s;
}
.btn-show-pass:hover {
  color: #6a7dfe;
}

.btn-show-pass.active {
  color: #6a7dfe;
}
/* --------------------------------------------------------------------------------------------------------------------
--------------------------------------- PANTALLAS DE 360 DE ANCHO EN ADELANTE -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------*/
/*@media (max-width:575.98px)*/
@media (width:360px) {
	.navbar-nav{
		font-size: 9px;
	}
	#mensaje-bienvenida, #mensaje-descargalo, #mensaje-registro{
		margin-top: 5%;
	}
	#h1_mb, #h1_2{
		font-size: 16px;
	}
	#parrafo, #parrafo2, #parrafo3, #mensaje-registro #parrafo4{
		font-size: 10px;
	}
	#mensaje-bienvenida #parrafo2{
		width: 70%;
	}
	#parrafo3, #parrafo4{
		width: 60%;
	}
	#mensaje-descargalo{
		padding-left: 15px;
	}
	#mensaje-descargalo img{
		width: 85px;
	}
	#boton{
		width: 35%;
	    height: 20px;
	    margin-top: 40px;
	    margin-left: 65px;
	    font-size: 8px;
	}
	#informacion .marca-logo img{
		width: 45%;
	}
	#h5_personal{
		font-size: 10px;
	}
	#redes_sociales{
		margin-top: 15px;
	}
	#redes_sociales img{
		width: 10%;
	}
	#pie{
		font-size: 9px;
	}
	#pie img{
		width: 3%;
	}
	/*------------------------------ PANTALLA DE INICIO SESION -----------------------------*/
	#formulario{
		width: 360px;
		padding: 0px 10px;
		margin: 88px 0px 0px 0px;
	}
	.contenedorInput input{
		padding: 20px 0 5px 0;
		font-size: 14px;
	}
}
@media (width:640px) {
	#mensaje-bienvenida, #mensaje-descargalo, #mensaje-registro{
		margin-top: 7%;
		max-width: 593px;
	}
	#h1_mb, #h1_2{
		font-size: 18px;
	}
	#parrafo, #parrafo2, #parrafo3, #mensaje-registro #parrafo4{
		font-size: 12px;
	}
	#parrafo2, #parrafo3, #parrafo4{
		width: 40%;
	}
	#mensaje-descargalo img{
		width: 110px;
	}
	#boton{
		width: 30%;
	    height: 30px;
	    margin-top: 53px;
	    margin-left: 50px;
	    font-size: 10px;
	}
	/*------------------------------ PANTALLAS DE INICIO SESION -----------------------------*/
	#formulario{
		margin: 40px 0px 0px 140px;
	}
	.contenedorInput input{
		padding: 20px 0 5px 0;
		font-size: 14px;
	}

}